/* src/App.css */
.App {
    text-align: center;
  }
  
  /* src/components/RandomQuoteGenerator/RandomQuoteGenerator.css */
  .RandomQuoteGenerator {
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    width: 70%;
    max-width: 500px;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
  }
  
  blockquote {
    font-style: italic;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  